<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculo folha de pagamento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item>
      <ion-label>Salario</ion-label>
      <ion-input type="number" placeholder="0,00" [(ngModel)]="salario"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Dependentes</ion-label>
      <ion-input type="number" placeholder="0" [(ngModel)]="dependentes"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Outros Discontos</ion-label>
      <ion-input type="number" placeholder="0" [(ngModel)]="outroDiscontos"></ion-input>
    </ion-item>
  
    <ion-item>
      <button (click) ="calculo()">calcular</button>
    </ion-item>

  <ion-item>
    <ion-label>Salario liquido: {{ salarioLiquido }} </ion-label>
  </ion-item>
