<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculo impostos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="info">

    <ion-item>
      <ion-label fixed>salario</ion-label>
      <ion-input type="number" placeholder="0,00" [(ngModel)]="salary"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label fixed>dependentes</ion-label>
      <ion-input type="number" placeholder="0" [(ngModel)]="dependents" ></ion-input>
    </ion-item>
  
    <ion-item>
      <button ion-button (click) = "test()" icon-start large round color="dark">calcular</button>
    </ion-item>

  </ion-list>

  <ion-grid fixed class="text" sm>
    <ion-row class="ion-justify-content-center ion-col">
      <ion-col size="3">Campos</ion-col>
      <ion-col size="3">Total</ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="3"> Salario Bruto </ion-col>
      <ion-col size="3"> {{ show_salary() }} </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-col">
      <ion-col size="3"> INSS </ion-col>
      <ion-col size="3"> {{ show_inss() }} </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="3"> IRRF </ion-col>
      <ion-col size="3"> {{ show_irrf() }} </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-col">
      <ion-col size="4"> Salario liquido total</ion-col>
      <ion-col size="3"> {{ show_liquidsalary() }} </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
